*{
    padding: 0;
    margin: 0;
}


body{
    letter-spacing: .5px;
   text-decoration: underline; 
    font-family:fantasy;
    font-size:400;
    line-height:1.5;
    color: rgba(15, 13, 13, 0.9);
} 

.page{
    font-size: 24px;
    text-align: center;
    color: rgb(229, 5, 5);
}
.sub{
    font-size: 14px;
    color: blue;
}

.song-words{
    line-height: 2;
}
.page span{
    color: blueviolet;
} 

.page-first,.page-last{
    background-color: aliceblue;
}

.page-second .song-words{
    background-image: url(./baidu-demo/4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;

}