.klass{
    color: rgb(231, 37, 37);
}

#testID{
    color: blue;
}

li span{
    color: green;
}

 li>span{
    color: orange;
}

/* #testID+li{
    background: #ccc;
}

#testID~li{
    background:#ccc;
}  */
/* #testID,.klass{
    background: #ccc;
}
li[data-="attr-data"]{
    background: #ccc;
}
li:not(.klass){
    font-size: 12px;
}
li a:link{
    color: blue;
}
li a:hover{
    color: red;;
}
li a:visited{
    color: rgb(238, 166, 9);
}
li a:active{
    color: rgb(11, 106, 250);
}
#testID::before{
    content: 'A'
}
#testID::after{
    content: 'D'
}
#testID::first-letter{
    color: #333;
}
#testID::first-line{
    background: #f1f1f1;
} */
li :first-child::after{
    content: '1234'
}
/* li:last-child::after{
    content: '123'
} */
/*定义容器大小、居中*/
.gird-list{
    margin: 100px auto 0;
    width: 600px;
    height: 600px;
    background: #f1f1f1;
    font-size: 0;
  }
  所有项目
  .gird-item{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 12px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  
  /*所有以3为倍数项目*/
  .gird-item:nth-child(3n){
    border-right: 1px solid rgb(227, 44, 44);
  }
 /*定义容器大小、居中*/
.gird-list{
    margin: 100px auto 0;
    width: 600px;
    height: 600px;
    background: #f1f1f1;
    font-size: 0;
  }
  /*所有项目*/
  .gird-item{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 12px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  /*所有以3为倍数项目*/
  .gird-item:nth-child(3n){
    border-right: 1px solid #333;
  }
  /*从第7个开始所有项目*/
  .gird-item:nth-child(n + 7){
    border-bottom: 1px solid #333;
  }
 /*定义容器大小、居中*/
.gird-list{
    margin: 100px auto 0;
    width: 600px;
    height: 600px;
    background: #f1f1f1;
    font-size: 0;
  }
  /*所有项目*/
  .gird-item{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 12px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  /*所有以3为倍数项目*/
  .gird-item:nth-child(3n){
    border-right: 1px solid #333;
  }
  /*从第7个开始所有项目*/
  .gird-item:nth-child(n + 7){
    border-bottom: 1px solid #333;
  }
  /*第5个项目*/
  .gird-item:nth-child(5){
    background: #666;
  }
 /*定义容器大小、居中*/
.gird-list{
    margin: 100px auto 0;
    width: 600px;
    height: 600px;
    background: #f1f1f1;
    font-size: 0;
  }
  /*所有项目*/
  .gird-item{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 12px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  /*所有以3为倍数项目*/
  .gird-item:nth-child(3n){
    border-right: 1px solid #333;
  }
  /*从第7个开始所有项目*/
  .gird-item:nth-child(n + 7){
    border-bottom: 1px solid #333;
  }
  /*第5个项目*/
  .gird-item:nth-child(5){
    background: #666;
  }
  /*第1个项目*/
  .gird-item:first-child{
    background: #666;
  }
 /*定义容器大小、居中*/
.gird-list{
    margin: 100px auto 0;
    width: 600px;
    height: 600px;
    background: #f1f1f1;
    font-size: 0;
  }
  /*所有项目*/
  .gird-item{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 12px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }

  /*从第7个开始所有项目*/
  .gird-item:nth-child(n + 7){
    border-bottom: 1px solid #333;
  }
  /*第5个项目*/
  .gird-item:nth-child(5){
    background: #666;
  }
  /*第1个项目*/
  .gird-item:first-child{
    background: #666;
  }
  /*最后1个项目*/
  .gird-item:last-child{
    background: #666;
  }
  /*第3个项目且鼠标悬浮的时候*/
  .gird-item:nth-child(3):hover{
    background: #999;
  }
  